// Primary Pallette
$bg-color: #101014;
$bg-color-alt: #202024;
$panel-color: #414145;

$accent-color: #26bbff;

$text-color: #ffffff;

// State Colors
$accent-color-hover: #72d3ff;
$panel-color-hover: #6e6e70;
$panel-color-hover: rgba(65, 65, 69, 0.3);

// Font Colors
$font-paragraph-color: rgba(255, 255, 255, 0.65);
